<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Bloc 1 : STATE => Step 1  -->
  <div *ngIf="isState('step_1')">
    <ion-list>
      <!-- Field pseudo -->
      <ion-item>
        <ion-input label="Pseudo" label-placement="stacked" type="text" [(ngModel)]="pseudonyme" />
      </ion-item>
      <!-- Field difficulté -->
      <ion-item>
        <ion-select label="Difficulté" label-placement="stacked">
          <ion-select-option *ngFor="let level of levels">{{ level }}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Field se souvenir -->
      <ion-item>
        <ion-toggle [checked]="remember">Sauvegarder mes informations</ion-toggle>
      </ion-item>
    </ion-list>

    <!-- Submit -->
    <div class="block-field">
      <ion-button expand="full" (click)="tryStartGame()">Commencer</ion-button>
    </div>

  </div>

  <!-- Bloc 2 :: STATE => Step 2  -->
  <div *ngIf="isState('step_2')">
    <p><ion-text color="primary">Bienvenue {{ pseudonyme }}</ion-text></p>
    <div class="ion-text-center"><ion-text color="dark" style="font-size: 0.7em;">{{ questionGame!.currentQuestion!.question }}</ion-text></div>

    <!-- Les boutons réponse  -->
    <div>
      <div *ngFor="let reply of questionGame!.currentQuestion!.getAnwsers()" style="padding: 0.2rem; width: 50%; display:inline-block">
        <ion-button expand="full" (click)="onReply(reply)" class="opentrivia-reply-btn" [color]="getReplyColor(reply)">{{ reply.label }}</ion-button>
      </div>
    </div>

    <!-- Question suivante -->
    <div class="block-field" *ngIf="questionGame!.isState(GameState.REPLIED)">
      <ion-button expand="full" (click)="nextQuestion()">Question Suivante</ion-button>
    </div>

      <!-- Rejouer -->
      <div class="block-field" *ngIf="questionGame!.isState(GameState.RESULT)">
        <ion-button expand="full" (click)="restart()">Rejouer</ion-button>
        <p>Votre score est : {{  questionGame!.score }}</p>
      </div>
  </div>
</ion-content>